@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans bg-white text-text antialiased;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-primary to-blue-600 bg-clip-text text-transparent;
  }
}
